<!doctype html>
<title>Service</title>
<link rel=stylesheet type=text/css href="{{ url('static', filename='css/style.css') }}">
<div class=page>
  <h1>Service</h1>
  <div class=navigation>

  </div>
  <div class=body>
    <div class=twitbox>
        <h3>Please enter the application address</h3>
        <form action="/" method=post>
          <p>
              <input type=text name=test size=60>
              <input type=submit value="Go">
          </p>
        </form>
    </div>
  </div>

</div>